.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      margin-left: -70px;
      margin-top: 100px;
      width: 120%;
      transform: rotateZ(30deg) !important;
      z-index: 1;
    }

  }

  